.pagingbar {
    display: flex;
    width: calc(100% - 48px);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    bottom: 0;
    border-top: 5px solid #ccc;
    margin-right: 16px;
}

.pagingbar-pagination {
    display: flex;
    align-items: center;
}

.pagingbar-leftinfo {
    margin: 16px;
}

.pagingbar-rightinfo {
    margin: 16px;
}

.pagination {
    display: block;
    width: 10px;
    height: 17px;
    margin: 10px;
    cursor: pointer;
}

.pagination .paging-selected:hover {
    background-color: #ffffff;
}

.pagination:not .paging-selected:active {
    background-color: #ebf9f4;
    color: #000000;
}

.pagination-number {
    border-radius: 18px;
    padding: 7px 13px;
    border: 1px solid #bbbbbb;
    text-decoration: none;
}

.pagination-icon {
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 36px;
    border-radius: 4px;
}

.paging-selected {
    background-color: #019160;
    color: #ffffff;
}

.pagination-firstpage {
    background-image: url('../../../content/icon/btn-firstpage.svg');
    background-repeat: no-repeat;
}

.pagination-prevpage {
    background-image: url('../../../content/icon/btn-prev-page.svg');
    background-repeat: no-repeat;
}

.pagination-nextpage {
    background-image: url('../../../content/icon/btn-next-page.svg');
    background-repeat: no-repeat;
}

.pagination-lastpage {
    background-image: url('../../../content/icon/btn-lastpage.svg');
    background-repeat: no-repeat;
}