.menu {
    width: 225px;
    height: calc(100vh - 49px);
    border-right: 1px solid#ccc;
}

.menu .menu-item {
    height: 44px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    padding-left: 16px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: MISAGoogleSans-Medium;
}

.menu .menu-item .menu-item-active {
    background-color: #019160;
    color: #ffffff;
    font-family: MISAGoogleSans-Regular;
}

.menu .menu-item:hover {
    background-color: #e5e5e5;
    color: #000000;
}

.menu .menu-item .menu-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: contain;
}

.menu-icon.menu-icon-dasboard {
    background-image: url('../../content/icon/dashboard.png');
}

.menu-icon.menu-icon-report {
    background-image: url('../../content/icon//report.png');
}

.menu-icon.menu-icon-employee {
    background-image: url('../../content/icon/dic-employee.png');
}

.menu-icon.menu-icon-setting {
    background-image: url('../../content/icon/setting.png');
}