.button {
    height: 40px;
    border-radius: 4px;
    color: #ffffff;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    background-color: #019160;
    line-height: 40px;
    box-sizing: unset;
    /* display: inline-block; */
    min-width: 75px;
    cursor: pointer;
    font-family: MISAGoogleSans-Regular;
}

.button:hover {
    background-color: #2FBE8E;
}

.button:active {
    background-color: #01B075;
}

.button-icon {
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    color: #ffffff;
    font-family: MISAGoogleSans-Regular;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    font-size: 13px;
    display: flex;
    outline: none;
    border: none;
    background-position: center;
    cursor: pointer;
}

.button-icon:hover {
    background-color: #2FBE8E;
}

.button-text {
    margin-left: 8px;
}

.second-button {
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
    border-radius: 4px;
    height: 40px;
    color: #000000;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.second-button:hover {
    background-color: #e9ebee;
}

.button-refresh {
    background-repeat: no-repeat;
    background-image: url(/content/icon/refresh.png);
    width: 40px;
    background-position: center;
    margin-right: 16px;
}