.input {
    border: 1px solid#bbbbbb;
    outline: none;
    border-radius: 4px;
    height: 40px;
}

.input::placeholder {
    font-size: 11px;
}

.input:focus {
    border-color: #019160;
}

.input-search {
    padding-left: 40px;
}

.input-text {
    margin-left: 10px;
    padding-left: 16px;
    display: flex;
    text-align: center;
    font-size: 13px;
    padding-bottom: 2px;
}

.input-icon {
    height: 16px;
    width: 16px;
    padding: 12px;
    cursor: pointer;
}