@import url(../css/base/button.css);
@import url(../css/base/dropdown.css);
@import url(../css/base/icon.css);
@import url(../css/base/toolbar.css);
@import url(../css/base/input.css);
@import url(../css/common/grid.css);
@import url(../css/pages/employee.css);
@import url(../css/base/table.css);
@import url(../css/common/paging.css);
@import url(../css/base/combobox.css);
@import url(../css/base/modal.css);
body {
    font-family: MISAGoogleSans;
    font-size: 13px;
    margin: 0px;
}

@font-face {
    font-family: MISAGoogleSans-Blacks;
    src: url('../content/font/GoogleSans-Black.otf');
}

@font-face {
    font-family: MISAGoogleSans-BlackItalic;
    src: url('../content/font/GoogleSans-BlackItalic.otf');
}

@font-face {
    font-family: MISAGoogleSans-BoldItalic;
    src: url('../content/font/GoogleSans-BoldItalic.otf');
}

@font-face {
    font-family: MISAGoogleSans-Light;
    src: url('../content/font/GoogleSans-Light.otf');
}

@font-face {
    font-family: MISAGoogleSans-LightItalic;
    src: url(../content/font/GoogleSans-LightItalic.otf);
}

@font-face {
    font-family: MISAGoogleSans-Medium;
    src: url('../content/font/GoogleSans-Medium.otf');
}

@font-face {
    font-family: MISAGoogleSans-MediumItalic;
    src: url('../content/font/GoogleSans-MediumItalic.otf');
}

@font-face {
    font-family: MISAGoogleSans-Regular;
    src: url('../content/font/GoogleSans-Regular.otf');
}

@font-face {
    font-family: MISAGoogleSans-Bold;
    src: url('../content/font/GoogleSans-Bold.otf');
}

@font-face {
    font-family: MISAGoogleSans-Italics;
    src: url('../content/font/GoogleSans-Italic.otf');
}

@font-face {
    font-family: MISAGooleSans-Thin;
    src: url('../content/font/GoogleSans-Thin.otf');
}

@font-face {
    font-family: MISAGoogleSans-ThinItalic;
    src: url('../content/font/GoogleSans-ThinItalic.otf');
}